<div class="comment row">
  <div class="col-lg-2 comments_image">
    <img src=<%= comment.user.image%> width="60" height="60" style="border-radius: 10px;">
  </div>
  <div class="col-lg-10">
    <strong class = "comments_nickname"><%= comment.user.name%></strong><br>
    <%= comment.text %>
  </div>
</div>