<li id="crafts">
  <%= link_to hobby_posts_path do %>
    
  <% end %>
</li>

<li id="study">
  <%= link_to '#' do %>
    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Find a study buddy
  <% end %>
</li>

<li id="team">
  <%= link_to '#' do %>
    <i class="fa fa-users" aria-hidden="true"></i> Find a team member
  <% end %>
</li>