.details li {
    list-style: none;
  }
  li {
      margin-bottom:10px;
      
  }
  .col-md-4 img{
    margin-top: 20px;
    max-width: 200px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
}

.bandge-img img{
    max-width: 25px;
    max-height: 25px;
}

.profile_img{
    max-width: 50px;
    max-height: 50px;

}

.rewards {
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;    
    }
}
