<div class="text-center login-branch">
  <%= t('posts.to_create_a_new_post_you_have_to') %>
  <%= link_to t('posts.login'),
              login_path,
              class: 'login-button login-button-branch' %>
</div>
