<div class="text-center login-branch">
  To create a new post you have to 
  <%= link_to t('header.login'), 
              login_path, 
              class: 'login-button login-button-branch' %>
</div>