<div class="new-post-button-parent">
  <span><%= t('posts.not_found') %>: </span>
  <%= link_to t('posts.create_a_new_post'),
              new_post_path,
              :class => "new-post-button" %>
</div>
