.comments_image{
    text-align: center;
  }
  
  .comments_nickname{
    font-size: 16px;
  }

  #comments{
    border-radius: 10px;
    margin-top: -2%;
  }

  .fa-thumbs-o-up{
    color:green;
    border-color: green;
  }
  .fa-thumbs-o-down{
    color: red;
    border-color: red;

  }