<div class="container-fluid">
  <div class="row step_edit_header">
    <div class="col-lg-2 steps_edit_add_new"><%= t('steps.edit.addNew') %></div>
    <div class="col-lg-4">
      <a class="btn btn-social-icon btn-success btn-md" onclick="create_new_text()">
        <i class="fa fa-file-text steps_edit_icons"></i>
      </a>
      <a class="btn btn-social-icon btn-success btn-md" id="upload_widget_opener">
        <i class="fa fa-picture-o steps_edit_icons"></i>
      </a>
      <a class="btn btn-social-icon btn-success btn-md" onclick="create_new_video()">
        <i class="fa fa-video-camera steps_edit_icons"></i>
      </a>
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <%= link_to t('steps.edit.destroyButton'), post_step_path(@step.id), method: :delete, :class => "btn btn-danger"%>
          <button type="button" class="btn btn-success edit_step_success" onclick="ajax_request()" id="<%= @step.id %>Button"><%= t('steps.edit.saveButton') %></button>
        </div>
      </div>
    </div>
  </div>
</div>