<% @steps.each do |step| %>
  <strong class="posts_show_step_header"><%= t('data.step.name')%> <%= step.name =%></strong>
  <div class='row show_block'>
    <%= sanitize step.content %>
    <% if step.img_url.present? %>
      <div class='show-post-img'>
        <%= image_tag step.img_url, class: "img-responsive card-step-img" %>
     </div>
    <%end %>
  </div>
<% end %>