<%= render "step_block" %>
<div class="row posts_show_row_paginate">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <%= will_paginate @steps, :page_links => false %>
  </div>
  <div class="col-lg-4"></div>
</div>