<% @steps.each do |step| %>
  <strong class="posts_show_step_header"><%= step.name %></strong>
  <% step.content.split("%block%").each do |item| %>
    <div class='row show_block'>
      <div class='col-lg-12'>
        <%= item.html_safe %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row posts_show_row_paginate">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <%= will_paginate @steps, :page_links => false %>
  </div>
  <div class="col-lg-4"></div>
</div>